<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" />
    <script src="../../public/js/burgers.js"></script>
    <title>Good Burger</title>
</head>

<body>
    {{{ body }}}
</body>

</html>