<body>
    <h1>Good Burger</h1>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}


    </ul>

    <br>

    <h2>Order a Burger</h2>

    <form id="order-form">

        <div class="form-group">
            <label for="order">Enter your order here:</label>
            <input type="text" id="order" name="order">
        </div>

        <button type="submit">Place My Order!</button>
    </form>



</body>